/* HEADER */
.game-page-container {
   max-width: 680px;
}
.game-page-container header {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 0 5px;
   gap: 20px;
}
.game-header-content {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.game-page-container h1 {
   font-size: 1.6em;
   text-indent: 10px;
}
.game-actions {
   display: flex;
   align-items: end;
   gap: 10px;
}
.game-info {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--color-disabled);
   border-radius: 8px;
   padding: 10px 20px;
   font-size: 0.75em;
   box-shadow: 1px 1px 1px var(--color-opacity);
   gap: 10px;
}
.game-info i {
   color: var(--color-primary);
}
.game-restart {
   font-size: 1em;
   border-radius: 8px;
   padding: 7px;
}
.game-restart:hover i {
   animation: rotate 250ms ease-in;
}

/* BODY */
.game-page-container main {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.game-feedback {
   color: var(--color-opacity);
   font-size: 0.8em;
   border: 2px solid var(--color-disabled);
   border-radius: 10px;
   padding: 10px 22px;
}
.game-feedback a {
   font-family: 'Press Start 2P', cursive, sans-serif;
   color: var(--color-secondary);
}
.game-feedback a:hover,
.game-feedback a:focus {
   color: var(--color-hover);
}
.game-feedback a:active {
   opacity: 0.8;
}
#main-content {
   width: 100%;
   background-color: var(--color-disabled);
   padding: 22px 30px;
   border-radius: 10px;
   box-shadow: 1px 1px 1px var(--color-opacity);
}
#main-content p {
   font-size: 0.8em;
   line-height: 2.2em;
}
#main-content p span {
   color: var(--color-primary);
}
#main-content a {
   color: var(--color-secondary);
   font-size: 0.9em;
   border-bottom: 1px dotted;
}
#main-content a:focus,
#main-content a:hover,
#main-content a:active {
   color: var(--color-hover);
}
.grid-cards {
   width: 100%;
   background-color: var(--color-disabled);
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 15px;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 1px 1px 1px var(--color-opacity);
}
.card {
   aspect-ratio: 3/4;
   width: 100%;
   position: relative;
   border-radius: 10px;
   transition: transform 400ms ease;
   transform-style: preserve-3d;
}
.face {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: var(--color-opacity);
   background-size: cover;
   background-position: center;
   border: 2px solid var(--color-opacity);
   border-radius: 10px;
   transition: all 1000ms ease;
}
.front-face {
   transform: rotateY(180deg);
}
.back-face {
   background-image: url('../images/card-default.png');
   backface-visibility: hidden;
}
.reveal-card {
   transform: rotateY(180deg);
}
.disabled-card {
   filter: saturate(0);
   opacity: 0.5;
}
.handle-card-hover {
   cursor: pointer;
}
.handle-card-hover:hover {
   outline: 1px inset var(--color-opacity);
}
.text-alert {
   animation: text-alert 1s infinite;
}
.box-alert {
   animation: box-alert 1s infinite;
}
.shake {
   animation: shake 3s infinite;
}

@keyframes text-alert {
   0% {
      color: var(--color-hover);
      text-shadow: 0 0 5px var(--color-hover);
   }
   100% {
      color: var(--color-opacity);
   }
}
@keyframes box-alert {
   0% {
      outline: 1px inset var(--color-hover);
      box-shadow: 0 0 10px var(--color-hover);
   }
   100% {
      outline: 1px inset var(--color-background);
      box-shadow: 0 0 10px var(--color-background);
   }
}
@keyframes rotate {
   to {
      transform: rotate(360deg);
   }
}
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   80% {
      opacity: 1;
   }
   85% {
      opacity: 0.5;
   }
   90% {
      opacity: 1;
   }
   95% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}
@keyframes shake {
   0% {
      transform: translateX(0);
   }
   1%,
   5% {
      transform: translateX(-3px);
   }
   2%,
   4%,
   6% {
      transform: translateX(0);
      box-shadow: 0 0 20px var(--color-hover);
   }
   3%,
   7% {
      transform: translateX(3px);
   }
   8% {
      transform: translateX(0);
   }
}

@media (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 479px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
